/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*shared styles*/
body {
  background: url(../images/doge.jpeg);
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.header {
	text-align: center;
}

.footer {
	text-align: center;
}

.nav-links {
	text-align: center;
}

/*about style specific*/

.about-text {
	margin-top: 10px;
	text-align: center;
	margin-left: 33%;
	margin-right: 33%;
}
/*gallery style specific */

.gallery-text {
  margin-bottom: 25px;
  text-align: center;
}

.image-gallery {
  display: inline-block;
  clear: both;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.image-gallery img {
  margin-right: 20px;
  margin-bottom: 20px;
  height: 225px;
  width: 20%;
  border: 5px solid lightblue
}

/*styling the font-awesome*/
.fa {
		width: 30px;
		border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Github */
.fa-github {
    background: black;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #00aced;
    color: white;
}

@media (min-width: 1200px) {
  .image-gallery img {
    height: 150px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .image-gallery img {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .image-gallery img {
    height: 110px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .image-gallery img {
    height: 90px;
  }
}
@media (max-width: 480px) {
  .image-gallery img {
    height: 65px;
  }
}
