html, body, div, span, article, h1, h2, h3, h4, h5, h6, a,
section, img, audio, video {
  margin: 0;
  padding: 0;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
}

/* END RESET */

.background {
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: 100%;
}

nav a {
  border: 5px solid white;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: lightblue;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon-links {
    border: 5px solid white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: lightblue;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headline {
  text-align: center;
}

h1 {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 10px solid lightblue;
  background-color: white;
  display: inline-block;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  background-color: lightblue;
  display: inline;
  font-size: auto;
  font-family: sans-serif;
}

nav {
  text-align: center;
  margin: 15px auto;
}

.name {
  text-align: center;
  margin-top: 10px;
}

p {
  border: 5px solid white;
  margin-bottom: 25px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: lightblue;
  text-align: center;
  font-family: sans-serif;
}

.funny-pictures {
  border: 5px solid white;
  margin-bottom: 25px;
  margin-left: 35%;
  margin-right: 35%;
  background-color: lightblue;
  text-align: center;
  font-family: sans-serif;
}

.ryan-img {
  border: 10px solid lightblue;
  display: block;
  margin: 0 auto;
}

.image-gallery {
  display: inline-block;
  clear: both;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.image-gallery img {
  margin-right: 20px;
  margin-bottom: 20px;
  height: 225px;
  width: 20%;
  border: 5px solid lightblue
}

.secondary-sites {
  clear: both;
}

@media (min-width: 1200px) {
  .image-gallery img {
    height: 150px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .image-gallery img {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .image-gallery img {
    height: 110px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .image-gallery img {
    height: 90px;
  }
}
@media (max-width: 480px) {
  .image-gallery img {
    height: 65px;
  }
}
